body {
	margin: 0;
	height: 0;
}
.topnav{
    font-family: Droid Sans, Myriad Pro, 'Raleway', 'Pontano Sans', Verdana, Tahoma;
	height: 50px;
	width: 100%;
	position: fixed;
	display:inline-block;
	color: white;
    font-size: 18px;
    padding-top: auto;
	background-color: rgba(0,0,0,0.8);
	color: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.topnav-logo {
	font-family: Droid Sans, Myriad Pro;
	font-size: 18px;
	text-align: left;
	margin-left: 5%;
	position: absolute;
	vertical-align: bottom;
	text-align: center;
	padding: 0 20px 0 20px;
	height: 50px;
	width: auto;
	line-height: 50px;
}

.topnav-logo:hover {
	cursor: pointer; cursor: hand;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;

}
.topnav2{
	background-color: white;
	height: 50px;
	width: 100%;
	position: fixed;
    padding-top: auto;
	display:inline-block;
	color: black;
    font-family: 'Raleway', 'Pontano Sans', Verdana, Tahoma;
    font-size: 20px;
    z-index: 99;
}
.subnav{
	height: 15px;
	color: white;
	width: 100%;
	position: fixed;
	margin-top: 50px;
	background-color: #650065;
    font-family: 'Raleway', 'Pontano Sans', Verdana, Tahoma;
    font-weight:800;
    font-size: 20px;
    z-index: 99;
}
.selected{
	color: #B21AB2;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 5%;
}
ol {
	list-style-type: square;
}
a {
	text-decoration: none;
	color: inherit;	
}
.topnav li {
	float: right;
	vertical-align: bottom;
	text-align: center;
	padding: 0 20px 0 20px;
	height: 50px;
	width: auto;
	line-height: 50px;
}
.topnav2 li {
	float: left;
	vertical-align: middle;
	text-align: center;
	margin-right: 40px;
	height: 50px;
	width: auto;
	line-height: 50px;
}
.subnav li{
	float: left;
	vertical-align: middle;
	text-align: center;
	margin-right: 70px;
	margin-right: 70px;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	width: auto;
	display: inline;
}
.topnav li:hover{
	/*background-color: #FE72FE;*/
	color: #FE72FE;
	cursor: pointer; cursor: hand;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.topnav2 li:hover{
	color: #FE72FE;
}
.subnav li:hover{
	color: #FE72FE;
}
#kdphi {
	font-size:30px;
	font-family: Droid Sans, 'Droid Serif';
	line-height:25px;

}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#copyright{
	font-size:10px;
	vertical-align: middle;
	padding:8px 15%;
	background-color: black;
	color: white;
}